*, *: before, *: after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: sans-serif;
  font-size: 20px;
  display: block;
  margin: 8px;
}

h1 {
  font-size: 1em;
  text-align: center;
}

top-bar {
  background-color: #dadada;
  padding: 10px;
  border: 1px;
  margin: 5px;
  width: 420px;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.preview-baku {
    background-image: url(/images/baku.jpg);
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 1em;
    padding: 10px;
    border: 1px;
    margin: 5px;
}
.preview-london {
  background-image: url(/images/london.jpg);
  float: left;
  box-sizing: border-box;
  padding: 10px;
  border: 1px;
  margin: 5px;
  width: 100%;
}
.preview-madrid {
  background-image: url(/images/madrid.jpg);
  float: left;
  box-sizing: border-box;
  padding: 10px;
  border: 1px;
  margin: 5px;
  width: 100%;
}
.preview-rome {
  background-image: url(/images/rome.jpg);
  float: left;
  box-sizing: border-box;
  padding: 10px;
  border: 1px;
  margin: 5px;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 420px;
  position: relative;
}
