*, *: before, *: after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: sans-serif;
  font-size: 20px;
  display: block;
  margin: 8px;
}

h1 {
  font-size: 1em;
  text-align: center;
}

top-bar {
  background-color: #dadada;
  padding: 10px;
  border: 1px;
  margin: 5px;
  width: 420px;
}


.container {
  margin: 0 auto;
  width: 420px;
  position: relative;
}

.preview {
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border: 1px;
    margin: 5px;
    width: 100%;
}

.baku {
    background-image: url(/images/baku.jpg);
}
.london {
  background-image: url(/images/london.jpg);
}

.madrid {
  background-image: url(/images/madrid.jpg);

}
.rome {
  background-image: url(/images/rome.jpg);

}
